Source/PortableApps.com
Source/PortableApps.comInstaller
Source/PortableApps.comLauncher
Source/FirefoxPortableNightly
Source/NAPS2Portable
Source/AntRenamerPortable
Source/AudaciousPortable
Source/ScreenToGifPortable
Source/PowderToyPortable
Source/calibrePortable
Source/PortableApps.comAppCompactor
Source/GoogleChromePortable
Source/GoogleChromePortable64
Source/FerdiumPortable
Source/7-ZipPortable
Source/LosslessCutPortable
Source/*.exe
Source/Desktop.ini
Source/*Portable/*.exe
Source/*Portable/App/*
Source/*Portable/Data
Source/*Portable_online/*.exe
Source/*Portable_online/App/*
Source/*Portable_online/Data
Source/*PortableDev/*.exe
Source/*PortableDev/App/*
Source/*PortableDev/Data
!Source/*Portable/App/Readme.txt
!Source/*PortableDev/App/Readme.txt
!Source/*Portable_online/App/Readme.txt
!Source/*Portable/App/AppInfo
!Source/*PortableDev/App/AppInfo
!Source/*Portable_online/App/AppInfo
!Source/*Portable/App/DefaultData
!Source/*PortableDev/App/DefaultData
!Source/*Portable_online/App/DefaultData
