/Source/*.zip
/Source/*.7z
/Source/*.exe
/Source/*/*.exe
/Source/*/Data/*
/Source/jmpPortable/App/Jellyfin/*
/Source/jmpPortable/App/Jellyfin64/*
/Source/jmpPortableLegacyWin7/App/Jellyfin/*
/Source/jmpPortableLegacyWin7/App/Jellyfin64/*
/Source/JellyfinPortable/App/jellyfin/*
/Source/AIMPPortable/*
/Source/fb2kPortable/*
/Source/LibreOfficePortable/*
/Source/Notepad++Portable/*
/Source/PotPlayerPortable/*
/Source/XMPlayPortable/*
/Source/VLCPortable/*
/Source/VentoyPortable/*
/Source/SMPlayerPortable/*
/Source/PortableApps.com/*
/Source/PortableApps.comLauncher/*
/Source/PortableApps.comInstaller/*